<!DOCTYPE html>
<html lang="en" id="page">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arte Cocina y Amor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="port">

    
    <div class="portada" id="portada">
          <!-- <div class="title-evento"><h4>El evento comienza en</h4></div> -->
          <div id="pronto">Pronto te daremos ingreso a <br>esta increible experiencia</div>
          <div id="cuenta" class="text-white"></div> 
    </div>
    <div class="text-white" id="messageIntro">Escribe tu nombre y dale clic al botón para Ingresar</div>
    <!-- registro -->
    <section id="registro">

        <div class="container" id="register">
            <div class="col-md-5">
                <div class="card bg-dark">
                    <div class="card-body">
                        <form action="/add" method="POST" autocomplete="off">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Nombre y Apellidos" class="form-control text-center" required>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary mt-2">
                                    Ingresar al evento
                                    
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- footer -->

    <!-- <div">
        <footer class="bg-dark fixed-bottom">
            <div class="container-fluid text-white text-center">
                <p><i class="fas fa-heart"></i>
                    Con amor Cardona&Martens &copy; 2021</p>
            </div>
        </footer>
    </div> -->
    
    
    <script src="/javascript/simplyCountdown.min.js"></script>
    <script src="/javascript/conteoTest.js"></script>

</body>
</html>