<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Gpx Event</title>
</head>
<body style="background-color: rgba(202,157,102,255);">

    <header class="container bg-dark text-white p-2">
        <div>GoPraxis Session   </div>
    </header>

    <div class="d-flex justify-content-center fs-1 fw-bold" id="logo">
        CONECTA CONTIGO
    </div>

    <div class="d-flex justify-content-center mt-5">
        <a class="bg-dark" href="/artecocinayamor2" style=
        "text-decoration:none;
        padding: 10px;
        
        border-radius: 8px;
        color: white;
        ">ARTE COCINA Y AMOR 2</a>
    </div>

    <!-- footer -->
    <div style="margin-top:0px;">
        <footer class="bg-dark fixed-bottom">
            <div class="container-fluid p-1 text-white text-center">
                <p><i class="fas fa-heart"></i>
                    Con amor GpxCode &copy; 2021</p>
            </div>
        </footer>
    </div>
</body>
</html>